---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro - About Page</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>About</h1>
		<h2>My Astro site</h2>
        <p>I'm doint the Astro's tutorial to build a blog application. This is the second page of the website, the about page.</p>
        <p>This website will be updated as I add more pages and blog posts while I follow the tutorial. So, yeah.</p>
        <p>kthnx bye.</p>
	</body>
</html>
